@page
@{
    ViewData["Title"] = "Profile - disabled";
    ViewData["Image"] = "notthepage.jpg";
}

<h4>@ViewData["Title"]</h4>
<p>This part is disabled in this project</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}