@model BlogMVC.Models.CommentModel

@{
    ViewData["Title"] = "CreateComment";
}

<h1>CreateComment</h1>

<h4>CommentModel @Model.PostId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Comment" asp-action="CreateComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
                <input asp-for="PostId" class="d-none" value="@Model.PostId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Main Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
