@model IEnumerable<BlogMVC.Models.DisplayModels.PostDisplayModel>
@{
    ViewData["Title"] = "McjG Blog - Main Page";
    ViewData["Image"] = "home-bg.jpg";
    ViewData["Header"] = "McjG's blog project";
    ViewData["HeaderText"] = "Welcome to my example blog project!";
}

@foreach (var post in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="Post/ViewPost?postId=@post.Id">
                        <h2 class="post-title">
                            @post.Title
                        </h2>

                        <h3 class="post-subtitle">
                            <strong><em>Posted by @post.AuthorName on @post.CreatedDate.ToString("d/M/yyyy")</em></strong>
                        </h3>

                        <h4 class="post-subtitle">
                            <em style="margin-bottom: 50px">Categry: @post.CategoryName</em>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr>
}